/MINGGU 1/Pertemuan_1/nbproject/private/
/MINGGU 1/Pertemuan_1/build/
/MINGGU 1/Latihan_Praktikum/nbproject/private/
/MINGGU 2/Pertemuan_2/nbproject/private/
/MINGGU 2/Pertemuan_2/build/
/MINGGU 3/Pertemuan_3/nbproject/private/
/MINGGU 3/Pertemuan_3/build/
/Quiz1/KuisMhsBagus/nbproject/private/
/Quiz1/KuisMhsBagus/build/
/MINGGU 6/Liga/nbproject/private/
/UTS/UTS_perbankan/nbproject/private/
/UTS/UTS_perbankan/build/
/MINGGU 6/Tugas1/Tiket/nbproject/private/
/MINGGU 6/Tugas1/Tugas1/nbproject/private/
/MINGGU 6/Tugas1/Tugas1/build/
/MINGGU 6/Tugas1/Tugas2/nbproject/private/
/MINGGU 6/Tugas1/Tugas2/build/
/MINGGU 5/Pertemuan_5/nbproject/private/
/MINGGU 5/Pertemuan_5/build/
/MINGGU 5/Pertemuan_7/nbproject/private/
/MINGGU 5/Pertemuan_9/nbproject/private/
/MINGGU 9/pertemuan_9/nbproject/private/
/MINGGU 9/pertemuan_9/build/
/MINGGU 10/Pertemuan_10/nbproject/private/
/MINGGU 10/Pertemuan_10/build/
/MINGGU 10/pertemuan_11/nbproject/private/