/MINGGU 1/Pertemuan_1/nbproject/private/
/MINGGU 1/Pertemuan_1/build/
/MINGGU 1/Latihan_Praktikum/nbproject/private/
/MINGGU 2/Pertemuan_2/nbproject/private/
/MINGGU 2/Pertemuan_2/build/
/MINGGU 3/Pertemuan_3/nbproject/private/
/MINGGU 3/Pertemuan_3/build/
/Quiz1/KuisMhsBagus/nbproject/private/
/Quiz1/KuisMhsBagus/build/